.change-password-page {
  background-color: #eb4706;
}

.change-password-page .login-container,
.change-password-page .passreset-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.change-password-page input,
.change-password-page button {
  margin: 5px;
  border: 2px solid rgb(43, 37, 37);
  border-radius: 5px;
  height: 30px;
  width: 300px;
}

.change-password-page h1,
.change-password-page h2 {
  color: white;
}

.change-password-page button {
  background-color: rgb(43, 40, 40);
  color: white;
}